spring:
  application:
    name: toys-mart
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:./dev-db-storage/toysmart;AUTO_SERVER=true
    username: sa
    password:
    driver-class-name: org.h2.Driver
  sql:
    init:
      schema-locations: optional:classpath:sql/schema.sql
      data-locations: optional:classpath:sql/data.sql

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /toys-mart/actuator
