spring:
  application:
    name: toys-mart
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  sql:
    init:
      schema-locations: optional:classpath:sql/schema.sql
      data-locations: optional:classpath:sql/data.sql

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"
